{% extends 'base.html' %}

{% block title %}Profile Page{% endblock title %}

{% block viewprojects %}
 <li><a href="{%url 'account:view_projects' account.id %}"> My Project </a></li>
{% endblock viewprojects %}
{% block forprofile %}
  <li class="has-submenu"><a href="#section2">For Profile</a>
          <ul class="sub-menu">
            <li><a href="{%url 'account:updateuser' account.id %}">Edit Profile</a></li>
            <li><a href="{%url 'account:addprofile' account.id %}">Add profileInfo</a></li>
            <li><a href="{%url 'account:deletepage' account.id %}">DELETE ACCOUNT</a></li>
          </ul>
        </li>
{% endblock forprofile %}
{% block search %}{% endblock search %}
{% load crispy_forms_tags %}
{%load static%}
{% block content %}
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
<section class="main-content">
		<div class="container">
			<h1 class="text-center" style="color: chocolate;">WELCOM {{account.firstname}} {{account.lastname}}</h1>
			<br>
			<br>

			<div class="row">
				<div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
					<div class="profile-card card rounded-lg shadow p-4 p-xl-5 mb-4 text-center position-relative overflow-hidden">
						<div class="banner"></div>
						<img src="{{ account.image.url }}"  width="40%" alt="" class="img-circle mx-auto mb-3">
						<h3 class="mb-4">Your Info</h3>
						<div class="text-left mb-4">
							<p class="mb-2"><i class="fa fa-envelope mr-2"></i> {{account.email}} </p>
							<p class="mb-2"><i class="fa fa-phone mr-2"></i> {{account.mobile_phone}}</p>

						</div>
						<div class="social-links d-flex justify-content-center">
							<div class="main-button">
                  <div class=""> <a href="{%url 'account:view_projects' account.id %}">Go To Projects</a></div>
              </div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

</div>







<!--
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">


        <h4><i class="bi bi-award"></i>WELCOM {{account.firstname}} {{account.lastname}}</h4>
        <div class="content-hide">
                <p>This is the profile page for {{account.firstname}} {{account.lastname}}</p>
               <img src="/media/{{ account.image }}" width="40%" style="position-left:50%">
                <p class="hidden-sm">This is the profile page for {{account.email}}</p><br>
             <a href="{%url 'account:view_projects' account.id %}">Go To Projects</a>

        </div>
    </div>
                <p>This is the profile page for {{account.firstname}}</p>
                <p>This is the profile page for {{account.lastname}}</p>
                <p>This is the profile page for {{account.email}}</p>
                <a href="{%url 'account:view_projects' account.id %}" style="color: blue">Go To Projects </a>

        	</div>
                </div>
            </div>
        </div>
-->

{% endblock %}

{%block name%}
{{request.session.email}}
{%endblock%}

