{% extends 'base.html' %}

{% block title %}Profile Page{% endblock title %}
{% block showdata %}
    <div class="row my-3 p-3">
           {% for i in account %}

        <h4><i class="bi bi-award"></i> {{i.title}}</h4>
            <div class="content-hide">
                <p>details of project:<br> {{i.details}}</p>
               <a href="{% url 'projectfund:detail_project' i.id %}">Add comment</a>

        </div>



          {% endfor %}
	</div>

{% endblock showdata %}

{% load crispy_forms_tags %}
{%load static%}
{% block content %}


<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                 {% for i in account %}
        <p>This is the {{i.title}} Project</p>
        <p>This is the details :{{i.details}}</p>
        <a href="{% url 'projectfund:project_detail' i.id %} " style="color: blue">Add comment to Project</a>
          {% endfor %}

        	</div>
                </div>
            </div>
        </div>


{% endblock %}
{% block header %}
{% endblock %}
{%block name%}
{{request.session.email}}
{%endblock%}