{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">add profile</h2>
<form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            {{ form | crispy }}
    <button type="submit" class="btn btn-primary btn-sm"> create project </button>
</form>
                </div>
            </div>
        </div>
</div>

{% endblock %}
